@charset "utf-8";
body    {
	margin: 0px;
	color: #151515;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	background-color: #BBC1C4;
}
table {
	border-collapse:collapse;
	width:50%;
}
table, td, th {
	border: 1px solid #4CB6EA;
}
td, th {
	padding:15px;
}
#wrapper {
	background-color: #FFFFFF;
	width: 100%;
	min-width: 740px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
#wrapper-headlang {
	position: relative;
	float: right;
	right: 4%;

}
#wrapper-headlang a {
	text-decoration: none;
	text-transform: uppercase;
	color: #75797B;
	position: relative;
	text-align: left;
	display: inline;
  	padding-right: 7px;
}
#wrapper-headlang a:visited {
	color: #75797B;
}
#wrapper-headlang a:hover, a:active, a:focus {
	color: #43A6CA;
	text-decoration: underline;
	/*padding-left: 3%;*/
}
/*#languages {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #75797B;
	font-size: 12px;
	text-align: right;
	font-weight: bolder;
	text-decoration: none;
	position: relative;
	right: 25px;
	text-transform: uppercase;
}*/
#wrapper-textarea {
	min-height: 260px;
}
#hero {
	position: relative;
	clear: left;
	padding-top: 0px;
}
#hero article {
    width: 36%;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 40px;
    right: 43px;
    background-color: #FAA356;
    color: #FFFFFF;
    border-radius: 15px;
}
#hero h2 {
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: -7px;
}



#hero img {
    max-width: 100%;
}
h1, h2 {
	color: #565454;
	font-style: normal;
	font-weight: 100;
	font-family: source-sans-pro;
	padding-left: 3%;
}
h1 {
	font-size: 38px;
	text-align: left;
	text-transform: capitalize;
	margin-top: 0px;
	margin-bottom: 30px;
	padding-top: 4%;
	font-weight: 400;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #535758;
}
#main {
	width: 58%;
	margin-left: 4%;
	float: left;
	margin-bottom: 5%;
}
#empty {
	height: 20px;
}
#sidebar {
    width: 34%;
    margin-left: 4%;
    float: left;
}
footer {
	clear: left;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2%;
	background-color: #4CB6EA;
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}
footer a {
	color: #FFFFFF;
	text-decoration: none;
}
footer a:visited {
	color: #FFFFFF;
}
footer a:hover, a:active, a:focus {
	color: #000000;
	text-decoration: underline;
	/*padding-left: 3%;*/
}

figure {
    width: 420px;
}
figure img {
    padding: 10px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 1px 1px 15px #999999;
    box-shadow: 1px 1px 15px #999999;
}

figcaption {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.centered {
    margin-left: auto;
    margin-right: auto;
}
.floatleft {
    margin-right: 10px;
    float: left;
}
.floatright {
    margin-left: 10px;
    float: right;
}
/*
a:link {
	color: #010101;
}
a:visited {
	color: #9A9795;
}
a:hover, a:active, a:focus {
	color: #43A6CA;
	text-decoration: underline;
}
#mainnav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#mainnav a {
    width: 20%;
    display: block;
    float: left;
    background-color: #4D4D4D;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 6px;
    padding-bottom: 6px;
}
#mainnav a:hover, #mainnav a:active, #mainnav a:focus, #mainnav a.thispage {
    text-decoration: none;
    background-color: #43A6CB;
}
article, aside, figure, footer, header, nav {
    display: block;
}*/


.boxsizingBorder {
	height: 240px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 4px;
	padding-right: 0px;
	border-color: #535758;
}

textarea {
  outline: none;
  overflow: auto;
}

.btn {
	background: #3498db;
	/* [disabled]background-image: -webkit-linear-gradient(top, #3498db, #2980b9); */
	/* [disabled]background-image: -moz-linear-gradient(top, #3498db, #2980b9); */
	/* [disabled]background-image: -ms-linear-gradient(top, #3498db, #2980b9); */
	/* [disabled]background-image: -o-linear-gradient(top, #3498db, #2980b9); */
	/* [disabled]background-image: linear-gradient(to bottom, #3498db, #2980b9); */
	-webkit-border-radius: 2;
	-moz-border-radius: 2;
	border-radius: 0px;
	font-family: 'PT Sans', sans-serif;
	/*font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	color: #ffffff;
	font-size: 20px;
	background-color: #4CB6EA;
	padding-top: 12px;
	padding-right: 12px;
	padding-left: 12px;
	padding-bottom: 12px;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	font-size: 13px;
	font-weight: 600;
	width: 140px;
	letter-spacing: 1px;
	display: block;
	left: 75%;
}

.btn:hover {
	background-color: #107EB4;
	text-decoration: none;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
a #l {
}
#wrapper-about {
	position: relative;
	float: left;
	padding-left: 3%;
}
#wrapper-about a {
	text-decoration: none;
	color: #75797B;
}
#wrapper-about a:visited {
	color: #75797B;
}
#wrapper-about a:hover, a:active, a:focus {
	color: #43A6CA;
	text-decoration: underline;
	/*padding-left: 3%;*/
}

/* DEMO 1 */

.wrapper-dropdown-1 {
	/* Size and position */
	position: relative; /* Enable absolute positioning for children and pseudo elements */
	width: 200px;
	padding: 10px;
	/* [disabled]margin-top: 0; */
	/* [disabled]margin-right: auto; */
	/* [disabled]margin-left: auto; */
	/* [disabled]margin-bottom: 0; */
	background-color: #4CB6EA;
	color: #fff;
	outline: none;
	cursor: pointer;
	/* Font settings */
	font-weight: bold;
	left: 68%;
	font-family: 'PT Sans', sans-serif;
	/*font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}
.wrapper-dropdown-1:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #fff;    
}
.wrapper-dropdown-1 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0; /* Size */
    right: 0; /* Size */
 
    /* Styles */
    background: #fff;
    font-weight: normal; /* Overwrites previous font-weight: bold; */
 
    /* Hiding */
    opacity: 0;
    pointer-events: none;
}
.wrapper-dropdown-1 .dropdown li a {
	display: block;
	text-decoration: none;
	color: #000000;
	padding: 10px 20px;
}
 
/* Hover state */
.wrapper-dropdown-1 .dropdown li:hover a {
	background-color: #BDC7C7;
}
/* Active state */
.wrapper-dropdown-1.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
 
.wrapper-dropdown-1.active:after {
    border-color: #107EB4 transparent;
    border-width: 6px 6px 0 6px ;
    margin-top: -3px;
}
 
.wrapper-dropdown-1.active {
  background: #107EB4;
  background: linear-gradient(to right, #107EB4 0%, #107EB4 78%, #ffffff 78%, #ffffff 100%);
}   
