body {
	padding-top: 65px;
  min-height: 700px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.progress {background: rgba(245, 245, 245, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 4px; height: 20px;}
.progress-bar-custom {background: rgba(245, 245, 245, 1);}
